@page "/Dashboard"
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<PageTitle>Home</PageTitle>

<h1>Dashboard</h1>

@if (adminID != null)
{
    <p>Welcome, Admin ID: @adminID</p>
}
else
{
    <p>Admin not logged in.</p>
}

@inject NavigationManager navManager
@code {
    private int? adminID;

    protected override async Task OnInitializedAsync()
    {
        adminID = await sessionStorage.GetItemAsync<int?>("adminID");

    }
}
